<%- include("header") -%> 
<h2>This is the about page</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Placeat maxime veritatis earum ut animi nemo laboriosam et, perferendis iste odio quia non necessitatibus? Laborum eligendi ullam consequuntur nisi totam pariatur?
Minus dolor, ab placeat natus quaerat fugit est autem beatae voluptatum unde commodi eum officiis sunt in tenetur nam? Dolorem veniam illum ullam quisquam quibusdam, assumenda harum? Eaque, accusantium illo!
Quaerat culpa, in illum minima quae iste incidunt labore, ea aliquid impedit et harum commodi maxime illo inventore. Placeat incidunt eum nisi cum beatae eveniet fugit sed sit quod expedita.
Sequi hic dolore non eaque incidunt odio iste provident natus maiores perspiciatis quibusdam dicta culpa suscipit cupiditate officia dolorem est consequuntur repudiandae, molestiae molestias fugiat aspernatur voluptas id? Veritatis, modi.</p>
<%- include("footer") -%> 